@import url("extras.css");

:root {
	--font-mono: Consolas, Monaco, 'Andale Mono', monospace;
	--font-body: 'Helvetica Neue', Helvetica, Segoe UI, sans-serif;
	--font-heading: var(--font-body);
	--bgcolour: white;
	--textcolour: black;
	--accent1: darkblue;
/*	--color-yellow: hsl(50, 100%, 50%);
	--color-green: hsl(100, 60%, 50%);
	--color-aqua: hsl(190, 100%, 40%);
	--color1: var(--color-yellow);
	--color2: var(--color-green);
	--color3: var(--color-aqua);
	--accent1: var(--color-aqua);
	--accent2: var(--color-green);
	--accent3: var(--color-yellow);
	--accent4: hsl(336, 100%, 55%);
	--light1: hsl(200, 40%, 80%);
	--medium1: var(--color-yellow);
	--dark1: hsl(200, 15%, 20%);
	--dark2: hsl(335, 100%, 35%);*/

}

body {
	font: 300 100%/1.5 var(--font-body);
	font-family: var(--font-body);
	--darker: rgba(0,0,0,.12);
	background: var(--bgcolour);
	font-synthesis: none;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	text-align: center;
}

a {
	color: inherit;
	text-decoration-color: hsla(0,0%,100%,.4);
}

strong, b {
	font-weight: bold; /* FF is weird */
}

:focus:not(:focus-visible) {
	outline: none;
}

input:not([type=file]),
button,
select {
	font: inherit;
	color: inherit;
}

input:not([type]),
input[type="text"],
input[type="email"],
input[type="tel"] {
	padding: 0 .3em;
}

code, textarea, pre {
	margin: 0;
	font: 100%/1.5em var(--font-mono);
	font-family: var(--font-mono);
	tab-size: 4;
	color: inherit;
}

	pre > code {
		font-size: inherit;
	}

	code mark {
		--color: hsla(190, 20%, 50%, .5);
		background: var(--color);
		box-shadow: 0 -.05em 0 .1em var(--color);
		color: inherit;
		border-radius: 1px;
		text-shadow: .01em .05em .2em rgba(0,0,0,.6);
		transition: .6s;
	}

pre + pre {
	margin-top: 1.5em;
}

img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

::selection {
	/* TODO:
	background: var(--dark1);
	color: white;
	*/
}

.slide {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 2.5rem;
	background: var(--bgcolour);
	color: var(--textcolour);
}

@media (max-width: 1024px) {
	.slide {
		padding: 3vmin;
	}
}

	.light.slide,
	.example.slide {
		/* TODO:
		background: var(--light1);
		color: black;*/
	}

	.slide > h1 {
		text-align: center;
		margin: 0 0 .6em;
		font-size: 200%;
	}

	.slide h2 {
		color: var(--accent2);
		font-size: 120%;
	}

section > header.slide {
	background: var(--bgcolour);
}

section > section > header.slide {
	background: var(--bgcolour);
}

	section > header.slide > h1 {
		margin: auto;
		padding: .5em .7em;
		background: var(--bgcolour);
		text-align: center;
		font-size: 250%;
		line-height: 1.2;
		font-weight: 300;
	}

#indicator {
	color: var(--textcolour);
}

/* Quotes */

blockquote {
	position: relative;
	font-style: italic;
	width: calc(80vw - 4.5em);
}

	blockquote::before {
		content: "â";
		position: absolute;
		right: 100%;
		top: -.3em;
		margin-right: .2em;
		font-size: 300%;
		color: var(--accent1);
		font-style: normal;
	}

	blockquote .cite {
		text-align: right;
		font-style: normal;
		font-size: 60%;
		font-weight: bold;
		color: var(--accent1);
	}

		blockquote .cite a:not(:hover) {
			text-decoration: none;
		}

/* Tables */

.slide > table {
	border-spacing: 0;
	margin: 1em;
}

	table caption {
		font-weight: bold;
		letter-spacing: -.05em;
		color: var(--accent1);
	}

	th,
	td {
		vertical-align: middle;
		text-align: left;
		padding: .5em;
	}

	th {
		border: 0;
	}

	tbody th {
		text-align: right;
		padding-left: 0;
	}

	thead th {
		vertical-align: top;
		font-size: 75%;
		background: var(--accent1);
		padding: .3em .5em;
	}

	tbody tr > * {
		border-top: 1px solid hsla(0, 0%, 100%, .15);
	}

	td:first-child {
		font-weight: 300;
	}

	td:first-child,
	th:first-child {
		text-align: left;
	}
